body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #f3f3f3;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.inline,
li {
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid #eee;
  transition: all 0.5s;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: #aaa;
}

ul.inline,
li.selected {
  border-bottom: 2px solid #6a5ac3;
  color: #444;
}

.btnPageSelected{
  background-color: #6a5ac3;
  color: #fff;
  border-color: #c3c3c3;
}

p{
  margin: 0px;
}

.contenedor-input {
  position: relative;
  width: 150px; /* Ajusta el ancho según tu diseño */
  height: 150px; /* Ajusta el alto según tu diseño */
}

.input-oculto {
  display: none;
}

.label-personalizado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  min-width: 150px;
  height: 150px;
}

.boton-personalizado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f3f3f3; /* Cambia el color de fondo según tu diseño */
  color: #000; /* Cambia el color del texto según tu diseño */
  font-size: 14px; /* Cambia el tamaño del texto según tu diseño */
  background-size: cover;
  box-shadow: #c3c3c3 0px 0px 0px 4px;
}